.header-highlight {
    font-size: 60px;
    font-family: monospace;
    font-style: italic;
    text-decoration: underline;
    color: tomato;
}

h1 {
    text-align: left;
    font-size: 50;
    border: 4px solid color(red);
    background-color: aliceblue;
}

.header-pic {
    text-align: center;
}

.about-me {
    color: aqua;
    text-align: right;
    font-stretch: semi-expanded;
    font-family: fantasy;
    font-weight: 200%;
    width: 70vw;
    height: 30vh;
    margin: 12px;
    border: 2px solid green;
    padding: 4px;
    background-color: orange;
}

img {
    float: left;
}


.column {
    width: 300px;
    float: left;
}